.messagesPage{
  min-height: inherit;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

/* Диалоги */
.dialogs {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #aaa;
}
.dialog {
  color: #eee;
  margin-bottom: 10px;
  padding: 8px 0  0 8px;
}
.active{
  padding-bottom: 5px;
  margin-bottom: 4px;
  border-bottom: 1px solid #777;
  background-color: #ccc;
}

/* Сообщения в диалогах */
.dialogMessages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
}
.messagesWrapper{
  max-height: 75vh;
  overflow-y: auto;
}
.message p {
  margin: 10px 0;
  display: inline-block;
  background-color: #ccc;
  padding: 10px 16px;
}

/* Новое сообщение */
.newMessage {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 10fr 2fr;
}
.newMessageButton {
  display: block;
  margin-top: auto;
  color: #333;
}
.newMessageForm textarea {
  outline: none;
  resize: none;
}