.profileInfo {
  display: grid;
  grid-template-areas: 'left right';
  grid-template-columns: 300px 1fr;
}
.profilePhotoBlock {
  grid-area: left;
}
.inputPhoto{
  display: none;
}
.customFileUpload {
  display: block;
  width: max-content;
  padding: 6px 12px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.info{
  grid-area: right;
  padding-left: 30px;
}
.top{
  margin: 20px 0px 20px;
}
.name {
  margin: 20px 0 10px;
  font-size: 22px;
}
.statusText, .statusInput{
  margin-top: 0px;
  padding: 5px 0;
  font-style: italic;
}
.statusInput{
  width: 100%;
}
.statusText{
  cursor: pointer;
}
.statusText:hover{
  background-color: #999;
}

.bottom{
  display: flex;
  flex-direction: column;
}
.bottomItem{
  margin: 10px 0;
}
.contacts{
  
}
.contactsItem{
  padding-left: 10px;
}