html{
  overflow-y: scroll;
}
body{
  margin: 0;
  background-color: #222;
  font-family: sans-serif;
}
body, textarea {
  font-size: 16px;
}
a{
  color: #222;
  text-decoration: none;
}
button {
  padding: 8px 12px;
  color: #555;
  font-weight: 700;
  border: 1px solid #999;
  background-color: #fbfbfb;
  cursor: pointer;
}
button:focus{
  outline-style: none;
}
p{
  margin: 0px;
}
.Page {
}
.Wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  display: grid;
  grid-template-areas:
    " n  c"
    "... c";
  grid-template-columns: 2fr 8fr;
  grid-gap: 10px;
}
.Wrapper-content {
  min-height: 80vh;
  padding: 15px;
  grid-area: c;
  background-color: #888;
}



::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #777; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}